Adafruit-Blinka~=3.9.0
adafruit-circuitpython-busdevice~=4.1.4
adafruit-circuitpython-dotstar~=1.6.1
adafruit-circuitpython-motor~=2.0.2
adafruit-circuitpython-motorkit~=1.4.0
adafruit-circuitpython-neopixel~=5.0.0
adafruit-circuitpython-pca9685~=3.2.6
adafruit-circuitpython-register~=1.7.4
Adafruit-PlatformDetect~=2.1.0
Adafruit-PureIO~=1.0.4
certifi~=2020.12.5
chardet~=4.0.0
colorzero~=1.1
gpiozero~=1.5.1
icmplib~=2.1.1
idna~=2.10
netifaces~=0.10.9
pyftdi~=0.42.2
pyserial~=3.4
pyusb~=1.0.2
requests~=2.25.1
rpi-ws281x~=4.2.3
RPi.GPIO~=0.7.0
simpleaudio~=1.0.4
spidev~=3.4
sysv-ipc~=1.0.1
urllib3~=1.26.5
smbus~=1.1.post2
adafruit-circuitpython-pixelbuf~=1.1.1
schedule~=1.1.0
pip-upgrader~=1.4.15
psutil~=5.9.0
packaging~=21.3
python-dateutil~=2.8.2
ipaddress~=1.0.23
keyboard~=0.13.5
gitpython~=3.1.27
rollbar~=0.16.2
