{
  "db_host": {
    "value": "thestargateproject.com",
    "desc": "FQDN for Legacy SQL Server used to get software updates",
    "type": "string"
  },
  "db_name": {
    "value": "stargate_pystargate",
    "desc": "Database Name for Legacy SQL Server used to get software updates",
    "type": "string"
  },
  "db_pass": {
    "value": "Q29uZ3JhdHVsYXRpb25zWW91Rm91bmRUaGVQYXNzd29yZEZvclRoZVJlYWRPbmx5VXNlciE=",
    "desc": "Password for Legacy SQL Server used to get software updates",
    "type": "string"
  },
  "db_user": {
    "value": "stargate_pystargate",
    "desc": "Username for Legacy SQL Server used to get software updates",
    "type": "string"
  }
}
