{
  "enable_software_updates": {
    "value": true,
    "desc": "This Variable does something important",
    "type": "boolean"
  },
  "dhd_color_symbols": {
    "desc": "Controls the color of the LEDs that illuminate the DHD's symbol buttons",
    "type": "dict",
    "item_config": {},
    "value": {
      "red": {
        "value": 250,
        "desc": "Red: 0-255",
        "type": "int",
        "max_value": 255,
        "min_value": 0
      },
      "green": {
        "value": 117,
        "desc": "Green: 0-255",
        "type": "int",
        "max_value": 255,
        "min_value": 0
      },
      "blue": {
        "value": 0,
        "desc": "Blue: 0-255",
        "type": "int",
        "max_value": 255,
        "min_value": 0
      }
    }
  },
  "dhd_color_center": {
    "desc": "Controls the color of the LED that illuminates the DHD's Center Button",
    "type": "dict",
    "item_config": {},
    "value": {
      "red": {
        "value": 255,
        "desc": "Red: 0-255",
        "type": "int",
        "max_value": 255,
        "min_value": 0
      },
      "green": {
        "value": 0,
        "desc": "Green: 0-255",
        "type": "int",
        "max_value": 255,
        "min_value": 0
      },
      "blue": {
        "value": 0,
        "desc": "Blue: 0-255",
        "type": "int",
        "max_value": 255,
        "min_value": 0
      }
    }
  },
  "chevron_mapping": {
    "desc": "This Variable does something important",
    "type": "dict",
    "item_config": {
      "led_pin": {
        "desc": "The GPIO Pin for this Chevron",
        "type": "int",
        "max_value": 40,
        "min_value": 0
      },
      "motor_number": {
        "desc": "The Motor Shield Channel number (zero-indexed)",
        "type": "int",
        "max_value": 11,
        "min_value": 0
      }
    },
    "value": {
      "1": {
        "led_pin": {
          "value": 21
        },
        "motor_number": {
          "value": 3
        }
      },
      "2": {
        "led_pin": {
          "value": 16
        },
        "motor_number": {
          "value": 4
        }
      },
      "3": {
        "led_pin": {
          "value": 20
        },
        "motor_number": {
          "value": 5
        }
      },
      "4": {
        "led_pin": {
          "value": 26
        },
        "motor_number": {
          "value": 6
        }
      },
      "5": {
        "led_pin": {
          "value": 6
        },
        "motor_number": {
          "value": 7
        }
      },
      "6": {
        "led_pin": {
          "value": 13
        },
        "motor_number": {
          "value": 8
        }
      },
      "7": {
        "led_pin": {
          "value": 19
        },
        "motor_number": {
          "value": 9
        }
      },
      "8": {
        "led_pin": {
          "value": null
        },
        "motor_number": {
          "value": 10
        }
      },
      "9": {
        "led_pin": {
          "value": null
        },
        "motor_number": {
          "value": 11
        }
      }
    }
  },
  "volume_as_percent": {
    "value": 0,
    "desc": "Volume as a %",
    "type": "int",
    "min_value": 0,
    "max_value": 100
  },
  "enable_audio": {
    "value": true,
    "desc": "True to enable audio output",
    "type": "bool"
  },
  "dhd_enable": {
    "value": true,
    "desc": "True to enable DHD handling",
    "type": "bool"
  },
  "enable_stepper_motor": {
    "value": true,
    "desc": "True to enable Glyph Ring Stepper Motor",
    "type": "bool"
  },
  "enable_chevron_motors": {
    "value": true,
    "desc": "True to enable Chevron DC Motors",
    "type": "bool"
  },
  "allow_incoming_dialing": {
    "value": true,
    "desc": "True allow incoming dialing attempts",
    "type": "bool"
  },
  "software_updates_url": {
    "value": "https://thestargateproject.com/stargate_software_updates/",
    "desc": "The API Endpoint URL for the Software Update service",
    "type": "string"
  },
  "stargate_info_api_url": {
    "value": "https://api.thestargateproject.com",
    "desc": "The API Endpoint URL for the Subspace Information service",
    "type": "string"
  },
  "software_updates_username": {
    "value": "Samantha",
    "desc": "The BasicAuth Username to use to authenticate for downloads on the Software Update service",
    "type": "string"
  },
  "software_updates_password": {
    "value": "CarterSG1!",
    "desc": "The BasicAuth Password to use to authenticate for downloads on the Software Update service",
    "type": "string"
  },
  "fan_gate_refresh_interval": {
    "value": 30,
    "desc": "In minutes, how often should we check for new Fan Gates on the Subspace Network?",
    "type": "int",
    "min_value": 0,
    "max_value": false
  },
  "software_update_interval": {
    "value": 24,
    "desc": "In hours, how often should we check for Software Updates?",
    "type": "int",
    "min_value": 0,
    "max_value": false
  },
  "subspace_port": {
    "value": 3838,
    "desc": "What TCP port should Subspace communications happen on? (1025-65535)",
    "type": "int",
    "min_value": 1025,
    "max_value": 65535
  },
  "subspace_keep_alive_interval": {
    "value": 24,
    "desc": "How often to send a ping on the subspace network to ensure the VPN stays alive",
    "type": "int",
    "min_value": 1025,
    "max_value": 65535
  },
  "subspace_timeout": {
    "value": 10,
    "desc": "In seconds time to wait for a remote stargate to respond before assuming it's offline",
    "type": "int",
    "min_value": 1,
    "max_value": 30
  },
  "dialing_timeout": {
    "value": 60,
    "desc": "In seconds, how long to to sit partially-dialed before resetting.",
    "type": "int",
    "min_value": 0,
    "max_value": false
  },
  "stepper_drive_mode": {
    "value": "double",
    "desc": "How many steps constitutes one revolution of the glyph ring?",
    "type": "string",
    "emum_values": [
      "double",
      "single",
      "microstep"
    ]
  },
  "stepper_one_revolution_steps": {
    "value": 1250,
    "desc": "How many steps constitutes one revolution of the glyph ring?",
    "type": "int",
    "min_value": 0,
    "max_value": false
  },
  "stepper_micro_steps": {
    "value": 16,
    "desc": "TODO: REMOVE NOT subspace_keep_alive_address",
    "type": "int",
    "min_value": 0,
    "max_value": false
  },
  "stepper_normal_speed": {
    "value": 0.002,
    "desc": "Delay time in 'normal' speed. Larger values->slower",
    "type": "int",
    "min_value": 0,
    "max_value": false
  },
  "stepper_slow_speed": {
    "value": 0.01,
    "desc": "Delay time in 'slow' speed. Larger values->slower",
    "type": "int",
    "min_value": 0,
    "max_value": false
  },
  "stepper_initial_speed": {
    "value": 0.01,
    "desc": "TODO: IS THIS REQUIRED? Initial delay time in 'normal' speed. Larger values->slower",
    "type": "int",
    "min_value": 0,
    "max_value": false
  },
  "stepper_acceleration_length": {
    "value": 40,
    "desc": "Over how many steps should they symbol ring accelerate/decelerate?",
    "type": "int",
    "min_value": 0,
    "max_value": false
  },
  "stepper_ring_direction_mode_longest": {
    "value": true,
    "desc": "How does the symbol dial into Chevrons? True: move from one symbol to the next, going the long way. False: always use the shortest direction",
    "type": "bool"
  },
  "wormhole_max_time_minutes": {
    "value": 38,
    "desc": "In minutes, how long can a normal wormhole be sustained? (Hint, it's 38 minutes)",
    "type": "int",
    "min_value": 0,
    "max_value": false
  },
  "wormhole_max_time_blackhole": {
    "value": 5259488,
    "desc": "In minutes, how long can a wormhole to a blackhole planet be sustained? FOREVER.",
    "type": "int",
    "min_value": 0,
    "max_value": false
  },
  "wormhole_open_random_sound_interval_seconds": {
    "value": 17,
    "desc": "In seconds, how long should we wait between playing random clips when a normal wormhole is established?",
    "type": "int",
    "min_value": 0,
    "max_value": false
  },
  "wormhole_close_audio_headstart": {
    "value": 1,
    "desc": "In seconds, how long should we wait to give the audio some time to start, when closing a WH? ",
    "type": "float",
    "min_value": 0,
    "max_value": 5
  },
  "audio_clip_wait_time_blackhole": {
    "value": 1,
    "desc": "In seconds, how long should we wait between playing random clips when a blackhole wormhole is established?",
    "type": "int",
    "min_value": 0,
    "max_value": 7
  },
  "web_debug_enable": {
    "value": false,
    "desc": "True to enable Web API Debug output",
    "type": "bool"
  },
  "subspace_keep_alive_address": {
    "value": "172.30.0.1",
    "desc": "What IP address should we ping for Subspace Keepalives?",
    "type": "string"
  },
  "dhd_serial_port": {
    "value": "/dev/serial/by-id/usb-Adafruit_ItsyBitsy_32u4_5V_16MHz_HIDPC-if00",
    "desc": "The USB Serial Device path for the DHD",
    "type": "string"
  },
  "dhd_baud_rate": {
    "value": 115200,
    "desc": "Baud Rate for use in DHD Serial communications",
    "type": "int",
    "min_value": 115200,
    "max_value": 115200
  },
  "dhd_brightness_center": {
    "value": 100,
    "desc": "From 0-255, how bright should the DHD Center Button be? Higher values->Brighter",
    "type": "int",
    "min_value": 0,
    "max_value": 255
  },
  "dhd_brightness_symbols": {
    "value": 3,
    "desc": "From 0-255, how bright should the DHD symbols be? Higher values->Brighter",
    "type": "int",
    "min_value": 0,
    "max_value": 255
  },
  "chevron_down_wait_time": {
    "value": 0.35,
    "desc": "How long to leave the chevron unlocked, before locking it.",
    "type": "float",
    "min_value": 0,
    "max_value": 0.7
  },
  "chevron_up_time": {
    "value": 0.2,
    "desc": "How long to energize the motor when moving a chevron up",
    "type": "float",
    "min_value": 0,
    "max_value": 0.7
  },
  "chevron_down_time": {
    "value": 0.1,
    "desc": "How long to energize the motor when moving a chevron down",
    "type": "float",
    "min_value": 0,
    "max_value": 0.5
  },
  "chevron_down_throttle": {
    "value": -0.65,
    "desc": "Throttle setting for moving chevrons down. -1 means full speed down.",
    "type": "float",
    "min_value": -1,
    "max_value": 1
  },
  "chevron_up_throttle": {
    "value": 0.65,
    "desc": "Throttle setting for moving chevrons up. +1 means full speed up.",
    "type": "float",
    "min_value": -1,
    "max_value": 1
  },
  "chevron_down_audio_head_start": {
    "value": 0.2,
    "desc": "In seconds, how much of a head start should audio get when moving the chevron down?",
    "type": "float",
    "min_value": 0,
    "max_value": 5
  },
  "http_server_port": {
    "value": 8080,
    "desc": "What TCP port should the Stargate Control API run on? (1025-65535)",
    "type": "int",
    "min_value": 1025,
    "max_value": 65535
  },
  "last_fan_gate_update": {
    "value": "2022-01-29 20:07:27.695364",
    "desc": "Timestamp of the last attempt to update Fan Gates on the subspace network",
    "type": "string"
  },
  "software_update_last_check": {
    "value": "2022-01-29 20:07:26.745736",
    "desc": "Timestamp of the last attempt to check for Software Updates",
    "type": "string"
  },
  "software_update_status": {
    "value": "up-to-date",
    "desc": "Status of Software Updates",
    "type": "string"
  },
  "subspace_ip_address": {
    "value": "",
    "desc": "IP Address configured for Subspace VPN",
    "type": "string"
  },
  "software_update_exception": {
    "value": false,
    "desc": "Last Exception Encountered during Software Update attempts",
    "type": "boolean"
  }
}
