{
  "enable_software_updates": true,
  "chevron_mapping": {
    "1": {
      "led_pin": 21,
      "motor_number": 3
    },
    "2": {
      "led_pin": 16,
      "motor_number": 4
    },
    "3": {
      "led_pin": 20,
      "motor_number": 5
    },
    "4": {
      "led_pin": 26,
      "motor_number": 6
    },
    "5": {
      "led_pin": 6,
      "motor_number": 7
    },
    "6": {
      "led_pin": 13,
      "motor_number": 8
    },
    "7": {
      "led_pin": 19,
      "motor_number": 9
    },
    "8": {
      "led_pin": null,
      "motor_number": 10
    },
    "9": {
      "led_pin": null,
      "motor_number": 11
    }
  },
  "volume_as_percent": 50,
  "http_server_port": 8080,
  "chevron_down_audio_head_start": 0.2,
  "chevron_down_throttle": -0.65,
  "chevron_down_time": 0.1,
  "chevron_down_wait_time": 0.35,
  "chevron_up_throttle": 0.65,
  "chevron_up_time": 0.2,
  "dhd_serial_port": "/dev/serial/by-id/usb-Adafruit_ItsyBitsy_32u4_5V_16MHz_HIDPC-if00",
  "dhd_baud_rate": 115200,
  "dhd_brightness_center": 100,
  "dhd_brightness_symbols": 3,
  "dhd_color_center": [
    255,
    0,
    0
  ],
  "dhd_color_symbols": [
    250,
    117,
    0
  ],
  "dhd_enable": true,
  "enable_stepper_motor": true,
  "enable_chevron_motors": true,
  "software_updates_url": "https://thestargateproject.com/stargate_software_updates/",
  "software_updates_username": "Samantha",
  "software_updates_password": "CarterSG1!",
  "subspace_port": 3838,
  "subspace_keep_alive_interval": 24,
  "subspace_keep_alive_address": "172.30.0.1",
  "subspace_timeout": 10,
  "dialing_timeout": 60,
  "stepper_drive_mode": "double",
  "stepper_one_revolution_steps": 1250,
  "stepper_micro_steps": 16,
  "stepper_normal_speed": 0.002,
  "stepper_slow_speed": 0.01,
  "stepper_initial_speed": 0.01,
  "stepper_acceleration_length": 40,
  "stepper_ring_direction_mode_longest": true,
  "wormhole_max_time_minutes": 38,
  "wormhole_open_random_sound_interval_seconds": 17,
  "wormhole_close_audio_headstart": 1,
  "wormhole_max_time_blackhole": 5259488,
  "audio_clip_wait_time_blackhole": 7,
  "allow_incoming_dialing": true,
  "fan_gate_refresh_interval": 30,
  "software_update_interval": 24,
  "web_debug_enable": false,
  "enable_audio": true,
  "stargate_info_api_url": "https://api.thestargateproject.com"
}
